*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(102, 99, 97);

}
body{
    margin: 0 auto;
}
.str1{
    background-color: burlywood;
}
ul{
    list-style: none;
    display: flex;
    gap: 50px;
}
a{
    text-decoration: none;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 50px;
}
h1{
    font-size: 50px;
}
button{
    background-color: #0A775F;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px;
}
.lr{
    display: flex;
    margin-left: 100px;
    gap: 200px;
}
.img1{
    position: absolute;
    left: 680px;
    top: 45px;
}
.left{
    margin-top: 150px;
}
.container{
    background-color: rgb(221, 221, 221);
    padding: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.img2{
    position: absolute;
    width: 350px;
    height: 400px;
    left: 1px;
    top: 900px;
}
.center1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 150px;
}
.img3{
    position: absolute;
    width: 250px;
    height: 200px;
    right: 1px;
    top: 1800px;
}
.img4{
    position: absolute;
    width: 250px;
    height: 200px;
    right: 1px;
    top: 1800px;
}
.img5{
    position: absolute;
    top: 2700px;
    left: 1px;
}
.img-cards{
    background-image: url(Group\ 3616.png);
    background-size: cover;
    margin-top: 20px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 580px;

}
.text{
    text-align: center;
    color: white;
}
.image-card-3{
    display: flex;
    justify-content: center;

}
.img-logo{
    position: absolute;
    left: 0px;
    top: 3300px;
}
.bottom{
    background-image: url(Group\ 3620.png);
    background-size: 100%;
    margin-top: 250px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
input{
    width: 60px;
    height: 60px;
}
.inputs{
    display: flex;
}
.numbers{
    font-size: 50px;
    text-align: right;
}
.card1{
    background-color: white;
    width: 400px;
    height: 370px;
    padding: 20px;


}
.text2{
    font-size: 50px;
    text-align: left;
}
.p1{
    text-align: left;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.button{
    background-color: #C99B67;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px;
    margin-top: 20px;
}
.footer{
    background-color: burlywood;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
    padding: 30px;
}
